{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tarot Me - Card of the Day</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"
    >
  </head>
  

  <body style="margin: 0; padding: 0; font-family: Times New Roman, Times, serif;">
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
                background: url('{% static "images/background_cards.png" %}') center/cover no-repeat; opacity: 80%;
                background-color: #625b71; z-index: -2;"></div>
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
                background:  rgba(98, 91, 113, 0.5); z-index: -1;"></div>
     
    <nav class="navbar navbar-expand-lg ml-4" style="background-color: #c4bfb720; border-radius: 20px;">
      <div class="container-fluid mx-4">

            <a class="navbar-brand text-white" href="#">
              <img src={% static "images/review.png" %} 
              alt="Profile" 
              width="30" 
              height="30" 
              class="d-inline-block me-2">
            
              <div class="d-inline-block" style="line-height: 1.2;">
                <div style="font-size: 0.9rem;">My Profile</div>
                <div style="font-size: 0.75rem; opacity: 0.8;">See Details</div>
              </div>
            </a>
        <div class="position-absolute start-50 translate-middle-x d-flex align-items-center">
          <span class="text-white fs-3" style="letter-spacing: 2px;"> TarotMe </span>
          <img src={% static "images/animal.png" %} alt="Icon Cat" width="40" height="40" class="d-inline-block" style="filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));"></div>
      </div>
    </nav>
    
    <div class="container-fluid min-vh-100 d-flex align-items-center">
      <div container="container">
          <div class="row align-items-center">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5">
                <div class="tetx-white p-5 mb-4";
                style="background: #77747a;
                border-radius: 20px;
                max-width: 500px;
                box-shadow: 0 4px 8px #5e5c61">
                <h2 class="mb-4" style="font-size: 2rem; font-weight: 300;">
                  Your card of the day is ...
                </h2>
                <div class="text-center mt-5">
                  <p class="mb-1" style="font-size: 1.1rem;"> blah blah blah </p>
                  <p style="font-size: 1.1rem;"> explanation</p>
                </div>
              </div>
              
              <button class="btn text-white px-5 py-3"
                      style="background: #77747a;
                      border-radius: 15px;
                      font-size: 1.2rem;
                      box-shadow: 0 4px 8px #5e5c61">
              Expand the reading
              </button>
            </div>
            
            <div class="col-md-6 d-flex justify-content-center align-items-center p-5">
              <img src="{% static "cards/14-Temperance.jpg" %}"
                  alt="temperance card"
                  class="img-fluid"
                  style="max-width: 400px;
                        border-radius: 10px;
                        box-shadow: 0 4px 8px #5e5c61">
            </div>
          </div>
        </div>
      
    
    <script src={% static 'js/bootstrap.js' %}></script>
  </body>
  
</html>