{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tarot Me - Card of the Day</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"
    >
  </head>
  

  <body style="margin: 0; padding: 0; font-family: Times New Roman, Times, serif;">
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
                background: url('{% static "images/background_cards.png" %}') center/cover no-repeat;
                background-color: #b595c9; z-index: -2;"></div>
    <div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;
                background: rgba(107, 123, 158, 0.3); z-index: -1;"></div>
     
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid mx-4">

            <a class="navbar-brand text-white" href="#">
              <img src={% static "images/review.png" %} 
              alt="Profile" 
              width="30" 
              height="30" 
              class="d-inline-block me-2">
            
              <div class="d-inline-block" style="line-height: 1.2;">
                <div style="font-size: 0.9rem;">My Profile</div>
                <div style="font-size: 0.75rem; opacity: 0.8;">See Details</div>
              </div>
            </a>
        <div class="position-absolute start-50 translate-middle-x">
          <span class="text-white fs-3" style="letter-spacing: 2px;"> Tarot Me </span>
          <img src={% static "images/animal.png" %} alt="Icon Cat" width="40" height="40" class="d-inline-block" style="filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));"></div>
      </div>
    </nav>
    
        <div class="container-fluid min-vh-100">
        <div container="container">
            <div class="row min-vh-100">
              <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-5">
                <div class="w-100">left</div>
              </div>
              <div class="col-md-6 d-flex justify-content-center align-items-center">
                right
              </div>
        </div>
    </div>
    
    
    <script src={% static 'js/bootstrap.js' %}></script>
  </body>
  
</html>