{% extends "readings/base_layout.html" %}
{% load static %}

    {% block content %}
    <div class="container-fluid min-vh-100 d-flex align-items-center">
      <div class="container mt-0"> 
          <div class="row min-vh-100 align-items-center">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center p-9">
                <div class="p-5 mb-4"
                style="background: #7B6E70;
                border-radius: 20px;
                max-width: 500px;
                box-shadow: 0 2px 4px #665b5dff;
                color: #C7BDBC;
                margin-left: -100px;">
                <h2 class="mb-4" style="font-size: 2rem; font-weight: 300;">
                   {% for card in cards %}
                                          {{ card.name }}
                                          {% endfor %}
                </h2>
                <div class="text-center mt-5">
                  <p class="mb-1" style="font-size: 1.1rem;"> {{card.meaning}} </p>
                  <p style="font-size: 1.1rem;"> {{ meaning }}</p>
                </div>
              </div>
              
              
            
            </div> 
            
           <div class="col-md-6 d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-end gap-3" style="max-width: 1000px;">
    
    
          <div class="text-center" style="margin-bottom: 100px;">
          <img src="{% static "cards/" %}{{cards.0.image}}" 
           alt="{{ cards.0.name }}" 
           class="img-fluid rounded shadow"
           style="max-width: 250px;">
      
                </div>
    
    <!-- Middle card (raised higher) -->
    <div class="text-center" style="margin-bottom: 200px;">
      <img src="{% static "cards/" %}{{cards.1.image}}" 
           alt="{{ cards.1.name }}" 
           class="img-fluid rounded shadow"
           style="max-width: 250px;">
      
    </div>
    
   
    <div class="text-center" style="margin-bottom: 100px;">
      <img src="{% static "cards/"%}{{cards.2.image}}" 
           alt="{{ cards.2.name }}" 
           class="img-fluid rounded shadow"
           style="max-width: 250px;">
      
    </div>
    
  </div>
</div>




              <form action="/card/" method="post">
                {% for card in cards %}
                  {{ card.name }}
                  <input type="hidden" name="card" value="{{card.name}}">
                  {% endfor %}
                
              </form>

              
              <button hx-get ="{% url 'readings:lovereading' %}"
                      hx-target="#page"
                      hx-swap="outerHTML"
                      hx-push-url="true"
                      hx-indicator="this" 
                      class="btn px-5 py-3 d-flex align-items-center justify-content-center gap-2"
                      style="background: #7B6E70;
                          border-radius: 15px;
                          font-size: 1.2rem;
                          box-shadow: 0 2px 4px #665b5dff;
                          color: #C7BDBC;">
                      <img class="htmx-indicator" 
                          src="/static/images/spinner.gif" 
                          alt="Loading..." 
                          style="width: 40px; height: 40px;"> 
    
            Expand Reading

              </button>
            
            </div>
            
            
                
                
                
                
                
            </div>
            
            
          </div>
        </div>
      </div>
{% endblock content %}
      
    
    
  
