{% extends "readings/base_layout.html" %}
{% load static %}

{% block content %}
<div id="page" class="container-fluid min-vh-100 d-flex align-items-center">
  <div class="container mt-0"> 
    <div class="row min-vh-100 align-items-center">
      <div class="col-md-5 d-flex flex-column justify-content-center align-items-center p-4">
        <div class="p-5 mb-4"
          style="background: #7B6E70;
          border-radius: 20px;
          max-width: 500px;
          box-shadow: 0 2px 4px #665b5dff;
          color: #C7BDBC;">
          <h2 class="mb-4" style="font-size: 2rem; font-weight: 300;">
            Cards predict you...
          </h2>
          <div class="text-center mt-5">
            <p style="font-size: 1.1rem;">{{ meaning }}</p>
          </div>
        </div>
        
        {% if cards|length < 9 %}
        <form hx-post="" 
              hx-select="#page"
              hx-target="#page" 
              hx-swap="outerHTML">
          {% csrf_token %}
          
          {% for card in cards %}
            <input type="hidden" name="loaded_cards" value="{{ card.name }}">
          {% endfor %}

          <button type="submit" 
  hx-indicator="this"
  class="btn px-5 py-3 d-flex align-items-center justify-content-center gap-2"
  style="background: #7B6E70;
    border-radius: 15px;
    font-size: 1.2rem;
    box-shadow: 0 2px 4px #665b5dff;
    color: #C7BDBC;">
          <img class="htmx-indicator" 
            src="{% static 'images/spinner.gif' %}" 
            alt="Loading..." 
            style="width: 40px; height: 40px;">
            Expand Reading
          </button>
        </form>
        {% endif %}
      </div>
      
      <div class="col-md-7 d-flex justify-content-center align-items-center p-4">
        <div class="row g-3" style="max-width: 800px;">
          {% for card in cards %}
          <div class="col-4 d-flex justify-content-center">
            <img src="{% static 'cards/' %}{{ card.image }}" 
              alt="{{ card.name }}" 
              class="img-fluid rounded shadow"
              style="max-width: 200px; height: auto;">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}